@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.post {
  &__footer {
    max-width: $layout-post-width;
    margin: 0 auto;
    padding: 0 15px;
  }

  &__comments {
    max-width: $layout-post-width;
    margin: 0 auto;
    padding: 0 15px;
  }

  &__buttons {
    display: flex;
    max-width: $layout-post-width;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 10px;
  }

  &__home-button {
    max-width: 90px;
    height: $button-height;
    padding: 0 24px;
    line-height: $button-height;
    text-align: center;
    color: $color-base;
    border: 1px solid $color-gray-border;
    border-radius: $button-border-radius;
    font-size: $typographic-base-font-size;
    font-weight: normal;

    &:hover,
    &:focus {
      color: $color-primary;
    }

  }
  &__category-button {
    margin-left: 20px;
    max-width: 90px;
    height: $button-height;
    padding: 0 24px;
    line-height: $button-height;
    text-align: center;
    color: $color-primary;
    border: 1px solid $color-gray-border;
    border-radius: $button-border-radius;
    font-size: $typographic-base-font-size;
    font-weight: normal;

    &:hover,
    &:focus {
      color: $color-secondary;
    }

  }



}

@include breakpoint-md {
  .post {
    &__footer {
      padding: 0;
    }

    &__comments {
      padding: 0;
    }

  }

}